<!-- Docs page layout -->
<div class="bs-docs-header bg-opaque-black text-gray-lighter" id="docs-header">
    <div class="container">
        <h1>JavaScript</h1>
        <p>Bring Bootstrap's components to life with over a dozen custom jQuery plugins. Easily include them all, or one by one.</p>

    </div>
</div>

<div class="container bs-docs-container">

    <div class="row">
        <div class="col-md-9" role="main">
            {{dpl-javascript.section-overview}}
            {{dpl-javascript.section-transitions}}
            {{dpl-javascript.section-modals}}
            {{dpl-javascript.section-dropdowns}}
            {{dpl-javascript.section-scrollspy}}
            {{dpl-javascript.section-togglable-tabs}}
            {{dpl-javascript.section-tooltips}}
            {{dpl-javascript.section-popovers}}
            {{dpl-javascript.section-alert-messages}}
            {{dpl-javascript.section-buttons}}
            {{dpl-javascript.section-collapse}}
            {{dpl-javascript.section-carousel}}
            {{dpl-javascript.section-affix}}
        </div>
        <div class="col-md-3">
            {{#affix-sidebar}}
                <ul class="nav bs-docs-sidenav">

                    <li>
                        <a href="#js-overview">Overview</a>
                        <ul class="nav">
                            <li><a href="#js-individual-compiled">Individual or compiled</a></li>
                            <li><a href="#js-data-attrs">Data attributes</a></li>
                            <li><a href="#js-programmatic-api">Programmatic API</a></li>
                            <li><a href="#js-noconflict">No conflict</a></li>
                            <li><a href="#js-events">Events</a></li>
                            <li><a href="#callout-third-party-libs">Third-party libraries</a></li>
                        </ul>
                    </li>
                    <li><a href="#transitions">Transitions</a></li>
                    <li>
                        <a href="#modals">Modal</a>
                        <ul class="nav">
                            <li><a href="#modals-examples">Examples</a></li>
                            <li><a href="#modals-sizes">Sizes</a></li>
                            <li><a href="#modals-remove-animation">Remove animation</a></li>
                            <li><a href="#modals-usage">Usage</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#dropdowns">Dropdown</a>
                        <ul class="nav">
                            <li><a href="#dropdowns-examples">Examples</a></li>
                            <li><a href="#dropdowns-usage">Usage</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#scrollspy">Scrollspy</a>
                        <ul class="nav">
                            <li><a href="#scrollspy-examples">Examples</a></li>
                            <li><a href="#scrollspy-usage">Usage</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#tabs">Tab</a>
                        <ul class="nav">
                            <li><a href="#tabs-examples">Examples</a></li>
                            <li><a href="#tabs-usage">Usage</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#tooltips">Tooltip</a>
                        <ul class="nav">
                            <li><a href="#tooltips-examples">Examples</a></li>
                            <li><a href="#tooltips-usage">Usage</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#popovers">Popover</a>
                        <ul class="nav">
                            <li><a href="#popovers-examples">Examples</a></li>
                            <li><a href="#popovers-usage">Usage</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#alerts">Alert</a>
                        <ul class="nav">
                            <li><a href="#alerts-examples">Examples</a></li>
                            <li><a href="#alerts-usage">Usage</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#buttons">Button</a>
                        <ul class="nav">
                            <li><a href="#buttons-examples">Examples</a></li>
                            <li><a href="#buttons-usage">Usage</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#collapse">Collapse</a>
                        <ul class="nav">
                            <li><a href="#collapse-examples">Examples</a></li>
                            <li><a href="#collapse-usage">Usage</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#carousel">Carousel</a>
                        <ul class="nav">
                            <li><a href="#carousel-examples">Examples</a></li>
                            <li><a href="#carousel-usage">Usage</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#affix">Affix</a>
                        <ul class="nav">
                            <li><a href="#affix-examples">Examples</a></li>
                            <li><a href="#affix-usage">Usage</a></li>
                        </ul>
                    </li>


                </ul>
                <a class="back-to-top" href="#top">
                    Back to top
                </a>

            {{/affix-sidebar}}
        </div>
    </div>
</div>
